body {
  display: flex;
  background-color: black;
  padding: 10px;
  margin: 10px;
  height: 100vh;
}

.Home-Page {
  align-items: center;
  flex-direction: row;
  background-color: #4e3ca7;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}

.Home {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  text-transform: capitalize;
  background-color: black;
  background-size: cover;
  height: 100%;
  padding: 50px;
  width: 100%;
}

.Home-Page #ul {
  list-style: none;
  font-size: 40px;
  font: bolder;
  padding: 7px;
}
